version: '3'
services:
  nginx:
    image: nginx:latest
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./public:/var/www/footprints/public
    ports:
      - 80:80
      - 443:443
    depends_on:
      - ruby

  ruby:
    build:
      context: .
      dockerfile: ./docker/ruby/Dockerfile
    environment:
      DATABASE_URL: mysql2://root:password@mysql/footprints
      MYSQL_HOST: mysql # Sets default host for mysql-client CLI
      MYSQL_PWD: password # Sets default password for mysql-client CLI
      RAILS_ENV: development
    volumes:
      - .:/app
    expose:
      - "80"
    depends_on:
      - mysql
    # Allow support for irb, pry, etc
    stdin_open: true
    tty: true

  mysql:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
