development:
  adapter: mysql2
  config: utf8
  host: mysql
  database: footprints
  username: root
  password: password
  url: mysql2://root:password@mysql/footprints

local:
  adapter: sqlite3
  database: db/local.db3

test:
  adapter: sqlite3
  database: db/test.db3
